body {
	padding-left: 30px;
	font-size: 40px;
}
li {
	list-style: "♬ ";/* リストのマーカー */
	padding: 10px 15px 13px 15px;/* 上 | 右 | 下 | 左 */
	color: #fff;/* フォントの色 */
        font-family: 'Arial', sans-serif;
        font-weight: bold;
}
